*\__pycache__/
dev_cache/
webui/nexus/*.js
!webui/nexus/simulation.js
tmp
native
*\example/
fancy/
!webutils/fancy
metadata_recovery
!webutils/metadata_recovery
.rmv
*.pyc
*.pyo
*.pyd
*.so
hooks/*.dll
*.zip
*.7z
*config.json
proper.json
.vscode
.workshop
.git
.idea
logs
build
.build_cache
venv
dist
dev_assets
.env
.venv
node_modules
.pytest_cache
webui/product/
translatekit
LLc-CN_LCTA
LCTA_CheatingCore/
webui/assets/README.md
CFST/
tools/cfst/
tools/7z/
/*.zip
/tmp/*